.contact {
  // border: 1px solid red;
}

.contact-title {
  padding: 50px;
  color: $amaCaterpilar;
  font-family: $font-main;
  h1 {
    font-size: 60px;
  }
}

.contact-body {
  display: flex;
  flex-direction: column;
  // justify-content: center;
  align-items: center;
}

.contact-body__container {
  width: calc(100vw - 100px);
  display: flex;
  flex-wrap: wrap;
  padding: 30px;

  @media (max-width: 1200px) {
    padding: 10px;
  }
}

.contact-component-adaptable {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  border: 2px solid $amaCaterpilar;
  border-radius: 15px;
  margin: 10px;
  width: 70%;
  font-family: $font-main;
  color: white;
  padding: 20px;
  background-color: $lighterAzulVerdoso;
  span {
    font-size: 70px;
  }
  img{ 
    width: 200px;
    height: 200px;
  }
  @media (max-width: 800px) {
    width: 100%;
  }
}

.contact-component__field {
  width: 90%;
  font-size: 20px;
  padding: 0 10px 0 10px;
  height: 40px;
  margin-top: 10px;
  background-color: #f7f7f7;
  border: 1px solid lightgrey;
  outline: none;
}

.contact-component__textArea {
  width: 90%;
  font-size: 20px;
  padding: 0 10px 0 10px;
  margin-top: 10px;
  background-color: #f7f7f7;
  border: 1px solid lightgrey;
  outline: none;
}

.contact-component__btn {
  margin-top: 30px;
  width: 90%;
  height: 40px;
  background-color: $amaCaterpilar;
  text-transform: uppercase;
  color: white;
  border: none;
  font-weight: bold;
  cursor: pointer;
}

.input-error {
  border: 1px solid red;
}

.input-error__text {
  color: $amaCaterpilar;
  margin-top: 30px;
  span{
    font-size: 20px;
  }
}

.contact-component__container {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
}

.contact-component__divisor {
  margin: 0 15px;
}

.contact-footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  color: $amaCaterpilar;
  background-color: $grisVoltaje;
  border-top: 3px solid $amaCaterpilar;
  a {
    &:link {
      color: $azulverdoso;
    }
    &:visited {
      color: $azulverdoso;
    }
    &:hover {
      color: $amaCaterpilar;
    }
  }
}

.contact-footer__item {
  padding: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  div {
    text-align: center;
    h4 {
      margin-bottom: 5px;
    }
  }
}

.contact-footer__logo {
  width: 200px;
  height: 200px;
  margin-right: 30px;
}

.flex-end {
  justify-content: flex-end;
}

.flex-start {
  align-items: flex-start;
}

.align-self-center {
  align-self: center;
}

.full-width {
  width: 100%;
}