.auth {
  display: flex;
  flex-direction: column;
  top: 0;
  bottom: 0;
  position: absolute;
  width: 100%;
  .auth__card {
    background-color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    .auth__card__tabs {
      .auth__card__tab {
        cursor: pointer;
        margin-left: 10px;
        &--selected {
          border-bottom: 3px solid red;
          transition: all linear 0.1s;
        }
        &:hover {
          border-bottom: 3px solid $amaCaterpilar;
          transition: all linear .1s;
        }
      }
    }
    &__form {
      width: 100%;
      display: flex;
      flex-direction: column;
      margin-top: 10px;
      align-items: center;
    }
  }
}
.auth-title {
  padding: 20px;
  color: $amaCaterpilar;
  font-family: $font-main;
  img {
    width: 300px;
  }
}

.auth-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.auth__card__field {
  width: 90%;
  font-size: 20px;
  padding: 0 10px 0 10px;
  height: 40px;
  margin-top: 10px;
  background-color: #f7f7f7;
  border: 1px solid lightgrey;
  outline: none;
  &.register {
    display: block;
  }
  &.login {
    display: none;
  }
  &.bad {
    border: 1px solid red;
  }
}
.auth__card__btn {
  margin-top: 30px;
  width: 80%;
  height: 40px;
  background-color: $amaCaterpilar;
  text-transform: uppercase;
  color: white;
  border: none;
  font-weight: bold;
}