
.dashboard {
  // border: 1px solid red;
}

.dashboard-title {
  padding: 50px;
  color: $amaCaterpilar;
  font-family: $font-main;
  h1 {
    font-size: 60px;
  }
}

.dashboard-body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.dashboard-body__container {
  width: calc(100vw - 100px);
  display: flex;
  flex-wrap: wrap;
}

.dashboard-component {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  border: 2px solid $amaCaterpilar;
  border-radius: 15px;
  margin: 10px;
  width: calc(((100vw - 100px) * 0.25) - 21px);
  height: calc((100vw - 100px) * 0.20);
  font-family: $font-main;
  color: white;
  padding: 20px;
  span {
    font-size: 70px;
  }
  @media (max-width: 1024px) {
    width: calc(((100vw - 100px) * 0.33) - 21px);
    height: calc((100vw - 100px) * 0.27);
  }
  @media (max-width: 768px) {
    width: calc(((100vw - 100px) * 0.50) - 21px);
    height: calc((100vw - 100px) * 0.45);
  }
  @media (max-width: 566px) {
    width: calc(((100vw - 100px)) - 21px);
    height: calc((100vw - 100px));
  }
}