@import './variables';

@font-face {
  font-family: 'Poppins';
  src: './assets/Poppins-Regular.ttf';
}

body {
  background: $azulverdoso;
  font-family: $font-main;
  height: 100vh;
  width: 100vw;
}

#root, .app {
  height: 100%;
  width: 100%;
}

@import './containers/AuthPage/auth';
@import './containers/Dashboard/dashboard';
@import './containers/Contact/contact';
@import './containers/Profile/profile';

.editor {
  height: 100%;
  width: 100%;
  display: flex;
  .editor-input {
    margin: 30px;
    padding: 20px;
  }
}